@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("//i.imgur.com/mQaPVui.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}
nav ul li a.active,
nav ul li a:hover{
    background: #069370;
    color: white;
    transition: 0.5s;
}

form{
    background: #ffffff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    border: 2px solid #aaa;
    display: table-row;
    padding: 20px 20px;
    
}
form input{
    width: 300px;
    margin: 20px;
    color: #aaa;
    height: 30px;
}

form h1{
    text-align: center;;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#customers td, #customers th{
  border: 1px solid rgb(82, 81, 81);
  padding: 8px;
  background-color: #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #b70e0e;
  color: white;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}